@import "config"
@import "mixins"
@import "fonts"
@import "components/scaffolding"
@import "components/hero"
@import "components/copy"
@import "components/nav"
@import "components/buttons"
@import url(http://fonts.googleapis.com/css?family=Arvo:700,700italic)

#speakers
  background-color: #171D1E
  color: #aaa
  padding-left: 20%
  padding-right: 20%
  h2,h3
    color: #ffcc2f
  a
    color: #eab100
  .speaker
    padding: 15px
    vertical-align: top
    display: inline-block
    margin: 0 auto
    width: 320px
    p
      text-align: justify
    img
      width: 64px
      border-radius: 64px
    .pull-quote-right
      border-right: 8px solid #ffcc2f
      padding-right: 10px
      margin-right: -18px
      p
        text-align: right
    .pull-quote-left
      border-left: 8px solid #ffcc2f
      padding-left: 10px
      margin-left: -18px
      p
        text-align: left
    .pull-quote
      p
        font-family: 'Arvo', serif
        font-weight: bold
        font-size: 24pt
        color: white

#cfp
  padding: 15%
