@import "config"
@import "mixins"
@import "fonts"
@import "components/scaffolding"
@import "components/hero"
@import "components/copy"
@import "components/nav"
@import "components/buttons"
@import url(http://fonts.googleapis.com/css?family=Arvo:700,700italic)

#signup
  background-color: #000
  padding-top: 1%

#speakers, #schedule
  width: 100%
  background-color: #171D1E
  color: #aaa
  padding-left: 20%
  padding-right: 20%
  h2,h3
    color: #ffcc2f
  a
    color: #eab100
  .speaker, .event
    padding: 15px
    vertical-align: top
    display: inline-block
    margin: 0 auto
    p
      text-align: justify
    img
      width: 64px
      border-radius: 64px
    h4
      border-left: 8px solid #ffcc2f
      padding-left: 10px
      color: #FFF
      text-align: left
      font-size: 32px
      text-transform: none
  
  .event
    float: left
    img
      width: 40px
      border-radius: 40px
      float: left
      display: block
      margin-right: 10px
    span
      float: left
      display: block
      line-height: 2.0em
    .by-line
      width: 100% 
    .desc
      width: 100%
      float: left
      margin-top: 10px 
  .date-select
    border-bottom: 3px solid #ffcc2f
    padding-bottom: 10px
    width: 100%
    a
      color: #ffcc2f
      text-align: left
      font-size: 32px
      text-transform: none
      padding: 0px 70px
      @media (max-width: 480px)
        padding: 0px 0px
      
    a:hover
      color: #fff
    .date-select
      text-align: center
  .day
    width: 100%
    float: left
    margin-top: 50px

  
#cfp
  padding: 15%

.scroll-to-top
  position: fixed
  right: 15%
  top: 97%
  background: url("../img/top.gif") no-repeat
  cursor: pointer
  width: 45px
  height: 40px
  bottom: 1em
  padding-right: 1em
  display: none
  z-index: 999
  border-radius: 25px

img.sponsor-img
  &.level-ohio
    width: 100%
  &.level-allegheny
    width: 49%
  &.level-monongahela
    width: 32.5%
