%div
  %a{href: '/schedule'} Schedule
  | |
  %a{href: '/events'} Events
  | |
  %a{href: '/travel'} Travel information
  | |
  %a{href: '/policies'} Policies & Procedures
  | |
  %a{href: '/sponsorship'} Sponsorship
  | |
  %a{href: '/#speakers'} Speakers
%img{src: '/assets/img/pittsburgh_skyline@2x.png', style: 'width:100%;margin-top:20px;'}

