%div
  %a{href: '/schedule'} Schedule
  | |
  %a{href: '/events'} Events
  | |
  %a{href: '/travel'} Travel information
  | |
  %a{href: '/policies'} Policies & Procedures
  | |
  %a{href: '/sponsorship'} Sponsorship
  | |
  %a{href: 'https://docs.google.com/forms/d/1cObMCml_x5lUOOaM3rqdO6skgUY6S4yXuEcKYv2Bc-A/viewform'} Scholarships
%img{src: 'assets/img/pittsburgh_skyline@2x.png', style: 'width:100%;margin-top:20px;'}

