---
title: Steel City Ruby Conf 2014 | August 15-16
---

%section#hero
  %img{src: 'assets/img/scrc14_hero_logo@2x.png', style: 'width:70%;margin-bottom:20px;'}
  %h1 August 15-16, 2014
  %h2 Pittsburgh, PA
  %button Tickets Available Soon
  %div
    %a{href: '/travel.html'} Travel information
    | |
    %a{href: '/policies.html'} Policies & Procedures
    | |
    %a{href: '#speakers'} Speakers
    | |
    %a{href: '#cfp'} CFP
  %img{src: 'assets/img/pittsburgh_skyline@2x.png', style: 'width:100%;margin-top:20px;'}
  #speakers
    .row
      %h2 Speakers
      .speaker.large-5.columns.large-offset-1
        %img{src: 'assets/img/charles_nutter.jpeg'}
        %h3 Charles Nutter
        %h4 JRuby
        %p
          Charles works on JVM languages at Red Hat. He has
          worked on JRuby for the past eight years and has been a JVM enthusiast
          since Java 1.0. Charles hopes to make JRuby the best Ruby
          implementation for high performance, big data, and heavy loads, and to
          use lessons learned from JRuby to help the JVM and other languages
          that run on it meet their potential.
      .speaker.large-5.columns.large-offset-1
        %img{src: 'assets/img/jessica_kerr.jpeg'}
        %h3 Jessica Kerr
        %h4 Functional Programming
        %p
          Jessica Kerr loves software, the code and the community. After ten
          years of Enterprise Java, she smelled the coffee and woke up to other
          languages. She works in Scala now, and writes Ruby for fun, in a
          functional style. She also teaches Git at every opportunity. Her
          mission is to bring every developer some ideas that are immediately
          useful and eventually mind-changing. Her methods include tweets (<a
          href="http://twitter.com/jessitron">@jessitron</a>), blogs (<a
          href="http://abstractivate.jessitron.com">abstractivate.jessitron.com</a>),
          and conference talks (like at Steel City Ruby!). To get her fired
          up, ask about mutable state, parenting, or cultural expectations.
      .speaker.large-5.columns.large-offset-1
        %img{src: 'assets/img/laurent_sansonetti.jpg'}
        %h3 Laurent Sansonetti
        %h4 RubyMotion
        %p
          Belgian software hacker, husband, dad and cat wrangler. Founder of
          <a href="http://twitter.com/HipByte">@HipByte</a>. I work on <a
          href="http://twitter.com/rubymotion">@RubyMotion</a>. Former Apple
          employee, <a href="http://twitter.com/macruby">@MacRuby</a> author.
      .speaker.large-5.columns.large-offset-1
        %img{src: 'assets/img/bryan_helmkamp.jpg'}
        %h3 Bryan Helmkamp
        %h4 Tech Business
        %p
          Bryan (<a href="http://twitter.com/brynary">@brynary</a>) is the
          founder of Code Climate, an automated code review tool for Ruby apps,
          and the lead organizer of the Gotham Ruby Conference in NYC. For the
          last seven years, he's been an active in the Ruby community as an
          acclaimed speaker, author and open source contributor. In 2009, he
          received a Ruby Hero Award for his efforts.
  #cfp
    .row
      .large-12.columns
        %h2 Call for Proposals
        %p
          Join our awesome lineup of invited speakers by
          submitting to our call for proposals.
        %p
          To submit your abstract, visit <a href="http://cfp.steelcityruby.org">
          our CFP website</a>.
  #signup
    .row
      .large-12.columns
        <!-- Begin MailChimp Signup Form -->
        %link{href: "//cdn-images.mailchimp.com/embedcode/slim-081711.css", rel: "stylesheet", type: "text/css"}
        :css
          #mc_embed_signup {
            background:#fff;
            clear:left;
            font:14px Helvetica,Arial,sans-serif;
            width:400px;
            margin: 0 auto;
          }
        <div id="mc_embed_signup">
        <form action="http://steelcityrubyconf.us4.list-manage.com/subscribe/post?u=2f98a75a6d5c290290ddede7a&amp;id=ab4832b2f5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">Sign up for announcements</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_2f98a75a6d5c290290ddede7a_ab4832b2f5" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
        </div>
        <!--End mc_embed_signup-->
