---
title: Steel City Ruby Conf 2014 | August 15-16
---

%section#hero
  %img{src: 'assets/img/scrc14_hero_logo@2x.png', style: 'width:70%;margin-bottom:20px;'}
  %h1 August 15-16, 2014
  %h2 Pittsburgh, PA
  %button Tickets Available Soon
  %div
    %a{href: '/travel.html'} Travel information
    | |
    %a{href: '/policies.html'} Policies & Procedures
    | |
    %a{href: '#speakers'} Speakers
    | |
    %a{href: '#cfp'} CFP
  %img{src: 'assets/img/pittsburgh_skyline@2x.png', style: 'width:100%;margin-top:20px;'}
  #speakers
    %h2 Speakers
    .speaker
      %img{src: 'assets/img/charles_nutter.jpeg'}
      %h3 Charles Nutter
      %p
        Charles works on JVM languages at Red Hat. He has
        worked on JRuby for the past eight years and has been a JVM enthusiast
        since Java 1.0. Charles hopes to make JRuby the best Ruby
        implementation for high performance, big data, and heavy loads, and to
        use lessons learned from JRuby to help the JVM and other languages
        that run on it meet their potential.
      .pull-quote.pull-quote-right
        %p JRuby
    .speaker
      %img{src: 'assets/img/jessica_kerr.jpeg'}
      %h3 Jessica Kerr
      %p
        Jessica Kerr loves software, the code and the community. After ten
        years of Enterprise Java, she smelled the coffee and woke up to other
        languages. She works in Scala now, and writes Ruby for fun, in a
        functional style. She also teaches Git at every opportunity. Her
        mission is to bring every developer some ideas that are immediately
        useful and eventually mind-changing. Her methods include tweets (<a
        href="http://twitter.com/jessitron">@jessitron</a>), blogs (<a
        href="http://abstractivate.jessitron.com">abstractivate.jessitron.com</a>),
        and conference talks (like at Steel City Ruby!). To get her fired
        up, ask about mutable state, parenting, or cultural expectations.
      .pull-quote.pull-quote-left
        %p Functional Programming
    .speaker
      %img{src: 'assets/img/laurent_sansonetti.jpg'}
      %h3 Laurent Sansonetti
      %p
        Belgian software hacker, husband, dad and cat wrangler. Founder of
        <a href="http://twitter.com/HipByte">@HipByte</a>. I work on <a
        href="http://twitter.com/rubymotion">@RubyMotion</a>. Former Apple
        employee, <a href="http://twitter.com/macruby">@MacRuby</a> author.
      .pull-quote.pull-quote-right
        %p RubyMotion
    .speaker
      %img{src: 'assets/img/bryan_helmkamp.jpg'}
      %h3 Bryan Helmkamp
      %p
        Bryan (<a href="http://twitter.com/brynary">@brynary</a>) is the
        founder of Code Climate, an automated code review tool for Ruby apps,
        and the lead organizer of the Gotham Ruby Conference in NYC. For the
        last seven years, he's been an active in the Ruby community as an
        acclaimed speaker, author and open source contributor. In 2009, he
        received a Ruby Hero Award for his efforts.
      .pull-quote.pull-quote-left
        %p Tech Business
  #cfp
    %h2 Call for Proposals
    %p
      Join our awesome lineup of invited speakers by
      submitting to our call for proposals.
    %p
      To submit your abstract, visit <a href="http://cfp.steelcityruby.org">
      our CFP website</a>.
