---
title: Steel City Ruby Conf 2014 | August 15-16
---

%section#hero
  %img{src: 'assets/img/scrc14_hero_logo@2x.png', style: 'width:70%;margin-bottom:20px;'}
  %h1 August 15-16, 2014
  %h2 Pittsburgh, PA
  %button Tickets Available Soon
  %img{src: 'assets/img/pittsburgh_skyline@2x.png', style: 'width:100%;margin-top:20px;'}