---
title: Policies & Procedures | Steel City Ruby Conf 2014 | August 15-16
---

%section#copy
  %h1 Policies & Procedures

  %h2 Conduct

  %h3 Conduct Policy

  %p
    Steel City Ruby Conference is dedicated to providing a harassment-free
    conference experience for everyone, regardless of age, gender, sexual
    orientation, disability, physical appearance, body size, race, or religion.
    We do not tolerate harassment of conference participants in any form.
    Sexual language and imagery is not appropriate for any conference venue,
    including talks. Conference participants violating these rules may be
    sanctioned or expelled from the conference without a refund at the
    discretion of the conference organizers.

  %p
    Harassment includes offensive verbal comments related to gender, sexual
    orientation, disability, physical appearance, body size, race, religion,
    sexual images in public spaces, deliberate intimidation, stalking,
    following, harassing photography or recording, sustained disruption of
    talks or other events, inappropriate physical contact, and unwelcome sexual
    attention. Participants asked to stop any harassing behavior are expected
    to comply immediately.

  %p
    Exhibitors in the expo hall, sponsor or vendor booths, or similar
    activities are also subject to the anti-harassment policy. In particular,
    exhibitors should not use sexualized images, activities, or other material.
    Booth staff (including volunteers) should not use sexualized
    clothing/uniforms/costumes, or otherwise create a sexualized environment.

  %h3 Misconduct Procedures

  %p
    If a participant engages in harassing behavior, the conference organizers
    may take any action they deem appropriate, including warning the offender
    or expulsion from the conference with no refund.

  %p
    If you are being harassed, notice that someone else is being harassed, or
    have any other concerns, please contact a member of conference staff
    immediately. Conference staff can be identified by t-shirts.

  %p
    Conference staff will be happy to help participants contact hotel/venue
    security or local law enforcement, provide escorts, or otherwise assist
    those experiencing harassment to feel safe for the duration of the
    conference. We value your attendance.

  %dl
    %dt Email address for organizers
    %dd organizers@steelcityruby.org
    %dt Local law enforcement
    %dd City of Pittsburgh Police - call 911
    %dt Sexual assault hotline
    %dd Pittsburgh Action Against Rape (PAAR) - (866) 765-2731 or (412) 765-2731
    %dt Medical Emergency
    %dd Call 911
    %dt Local taxi company
    %dd Pittsburgh Yellow Cab - (412) 321-8100, Pittsburgh Classy Cab (412) 322-5080

  %p
    We expect participants to follow these rules at all conference venues and
    conference-related social events.

  %h2 Refunds

  %h3 Refund Policy

  %p Steel City Ruby Conference will not refund registration fees for any reason.

  %p
    If you are unable to attend, but have purchased a registration, we
    urge you to find someone to whom you can transfer your registration.

  %h2 Ticket Transfers

  %h3 Ticket Transfer Policy

  %p Ticket transfers will be allowed but our policy is TBD

  %h3 Ticket Transfer Procedure

  %p Our ticket transfer procedure is TBD
