---
title: Press and other good things people say about SCRC | Steel City Ruby Conf 2014 | August 15-16
---

%section#copy
  %h1 Blog posts
  
  :markdown
    >  In short, it brought the fun back into technology for me and helped to re-energize me in our work here at Blosme... I can honestly say it was the best technology conference I’ve attended in the last 10+ years. 
    
    - [@SteelCityRuby Conf 2014 August 15-16](https://www.blosme.com/upp/steelcityruby-conf-2014-august-15-16/), by [Cleavon Bair](https://www.blosme.com/upp/author/cleavon-blair/)
  
  %h1 Tweets
