---
title: Schedule | Steel City Ruby Conf 2014 | August 15-16
---
%section#hero
  %img{src: 'assets/img/scrc14_hero_logo@2x.png', style: 'width:70%;margin-bottom:20px;'}
  %h2 Schedule of Events
  
  %div
    %a{href: '/travel.html'} Friday August 15th
    | |
    %a{href: '/policies.html'} Saturday August 16th
    
  %img{src: 'assets/img/pittsburgh_skyline@2x.png', style: 'width:100%;margin-top:20px;'}
