---
title: Travel | Steel City Ruby Conf 2014 | August 15-16
---

%section#copy
  %h1 Travel

  %h2 Hotels

  %p We have blocks at two hotels convenient to this year's venue, the New Hazlett Theatre.

  %h3 Springhill Suites by Mariott

  %p 223 Federal Street <br /> Pittsburgh, PA 15212 <br />412-323-9005

  %p Reservations can be <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=SCRC%202014%5Epitns%60scrscra%60169%60USD%60false%608/15/14%608/17/14%607/25/14&app=resvlink&stop_mobi=yes">made online</a> or by calling 1-800-Marriott or the hotel's main number. Please be sure to make the reservation under the group name "SCRC 2014".

  %p The rate is $169/night. Hotel check in time is 3PM, and check out is 11am. We've blocked 50 rooms at Springhill for Friday 8/15 and Saturday 8/16. Please make your reservation no later than 7/1.

  %h3 Residence Inn Pittsburgh North Shore

  %p 574 W General Robinson St<br />Pittsburgh, PA 15212<br />412-321-2099

  %p Reservations can be <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=SCRC%20%202014%5EPITRN%60scrscra%60169.00%60USD%60false%608/15/14%608/17/14%607/15/14&app=resvlink&stop_mobi=yes">made online</a> or by calling 1-800-Marriott or the hotel's main number. Please be sure to make the reservation under the group name "SCRC 2014".

  %p The rate is $169/night. Hotel check in time is 4pm, and check out is 11am. We've blocked 30 rooms at Residence Inn for Friday 8/15 and Saturday 8/16. Please make your reservation no later than 7/15.
