---
title: Travel & Venue | Steel City Ruby Conf 2014 | August 15-16
---
%section#hero
  %a{href: "/"}
    %img{src: '/assets/img/scrc14_hero_logo@2x.png', style: 'width:70%;margin-bottom:20px;'}
  %h2 Travel & Venue

  = partial "nav"

%section#copy
  %h2 Venue

  %p This year's venue is the <a href="http://newhazletttheater.org/">New Hazlett Theater</a>, located at 6 Allegheny Square East, Pittsburgh, PA 15212. It's in the Allegheny Center neigborhood of the city on the north side of Pittsburgh.

  %div
    %iframe{frameborder: "0", height: "350", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=New+Hazlett+Theater,+Allegheny+Square+East,+Pittsburgh,+PA&aq=0&oq=new+hazlet&sll=41.117935,-77.604698&sspn=5.833807,11.04126&ie=UTF8&hq=New+Hazlett+Theater,+Allegheny+Square+East,+Pittsburgh,+PA&t=m&ll=40.453119,-80.005033&spn=0.016981,0.032015&output=embed", width: "100%", style: "position:relative"}
    %br/
    %small
      %a{href: "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=New+Hazlett+Theater,+Allegheny+Square+East,+Pittsburgh,+PA&aq=0&oq=new+hazlet&sll=41.117935,-77.604698&sspn=5.833807,11.04126&ie=UTF8&hq=New+Hazlett+Theater,+Allegheny+Square+East,+Pittsburgh,+PA&t=m&ll=40.453119,-80.005033&spn=0.016981,0.032015", style: "text-align: left;"} View Larger Map

  %p For directions to the NHT, see its <a href="http://newhazletttheater.org/the-theater/directions/">directions and parking guide</a>.

  %h3 Parking

  %p The NHT is very close to the North Shore stadium neighborhood. The Pirates are out of town Friday and Saturday, but there is a Steelers pre-season game Saturday evening. Event parking rates may be in effect on Saturday.

  %P There is a small amount of street parking near the theatre but we recommend parking in either:

  %ul
    %li <a href="http://www.alcoparking.com/parking/AllegCent.html">Allegheny Center Garage</a> - closer to the New Hazlett Theatre but closes at 8pm
    %li <a href="http://www.alcoparking.com/parking/NorthShore.html">North Shore Garage</a> - open until midnight and close to PNC Park where the party will be Friday evening

  %h3 Open Development room with Internet access

  %p We will not have WiFi available in the whole venue (you’re going to be paying too much attention to the speakers, right?), but we will have a room we’re calling the <b>Open Development space</b> where you can go any time during the conference days for Internet access, to hack on something, pair with someone, get help or help someone with a programming problem, etc. Many attendees bring hotspots of some kind and might be willing to share if you ask politely.

  %h3 Eating

  %p As in the past, for lunch both days, we will be sending you out to sample Pittsburgh cuisine! There will be organizers and volunteers leading groups to various restaurants nearby like these! We assembled a <a href="http://is.gd/scrc_restaurant_guide">restaurant guide</a>.

  %h2 Hotels

  %p We have blocks at two hotels convenient to this year's venue, the New Hazlett Theatre.

  %h3 Springhill Suites by Mariott

  %p 223 Federal Street <br /> Pittsburgh, PA 15212 <br />412-323-9005

  %p Reservations can be <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Steel%20City%20Ruby%5EPITNS%60scrscra%60169%60USD%60false%608/14/14%608/17/14%607/24/14&app=resvlink&stop_mobi=yes">made online</a> or by calling 1-800-Marriott or the hotel's main number. Please be sure to make the reservation under the group name "SCRC 2014".

  %p The rate is $169/night. Hotel check in time is 3PM, and check out is 11am. We've blocked 50 rooms at Springhill for Friday 8/15 and Saturday 8/16. Please make your reservation no later than 7/1.

  %h3 Residence Inn Pittsburgh North Shore

  %p 574 W General Robinson St<br />Pittsburgh, PA 15212<br />412-321-2099

  %p Reservations can be <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=SCRC%20%202014%5EPITRN%60scrscra%60169.00%60USD%60false%608/14/14%608/17/14%607/15/14&app=resvlink&stop_mobi=yes">made online</a> or by calling 1-800-Marriott or the hotel's main number. Please be sure to make the reservation under the group name "SCRC 2014".

  %p The rate is $169/night. Hotel check in time is 4pm, and check out is 11am. We've blocked 30 rooms at Residence Inn for Friday 8/15 and Saturday 8/16. Please make your reservation no later than 7/15.

  %h2 Ground transportation

  %h3 Driving

  %p
    :markdown
      Driving into Pittsburgh is pretty easy, and routes into the North Shore are
      well-marked since it's where the stadiums are. See the
      [New Hazlett Theater site for directions](http://newhazletttheater.org/the-theater/directions/)
      and parking recommendations.

      Do pay attention to [511PA](http://www.511pa.com/) for travel and traffic
      advisories.

      There is a Steelers pre-season game Saturday, August 16, so event parking
      rates may be in effect for the area. Plan ahead!

  %h3 Ridesharing

  %p
    :markdown
      We strongly recommend employing [Lyft](https://www.lyft.com/)
      or [UberX](https://www.uber.com/) for your travel needs.

  %h3 Bus

  %p
    :markdown
      Pittsburgh Port Authority operates the [28X](http://www.portauthority.org/rt/28x.pdf)
      airport flyer bus. Its fare is $3.75 and the Liberty Ave at Market St stop
      downtown is a short half-mile walk from both hotels, via the Roberto Clemente bridge.
      It runs every half hour from 5 a.m. to 11:30 p.m.

  %h3 Taxis & Shuttles

  %p It is advisable to book these methods well in advance.

  %ul
    %li <a href="http://supershuttle.com">SuperShuttle</a> - (800) 258-3826
    %li <a href="http://www.vetaxi.com/">VETaxi</a> - (412) 481-8387 (all vehicles wheelchair accessible)
    %li Pittsburgh Classy Cab - (412) 322-5080
    %li Pittsburgh Yellow Cab - (412) 321-8100
