---
title: Travel | Steel City Ruby Conf 2014 | August 15-16
---
%section#hero
  %a{href: "/"}
    %img{src: 'assets/img/scrc14_hero_logo@2x.png', style: 'width:70%;margin-bottom:20px;'}
  %h2 Travel

  = partial "nav"

%section#copy
  %h2 Hotels

  %p We have blocks at two hotels convenient to this year's venue, the New Hazlett Theatre.

  %h3 Springhill Suites by Mariott

  %p 223 Federal Street <br /> Pittsburgh, PA 15212 <br />412-323-9005

  %p Reservations can be <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Steel%20City%20Ruby%5EPITNS%60scrscra%60169%60USD%60false%608/14/14%608/17/14%607/24/14&app=resvlink&stop_mobi=yes">made online</a> or by calling 1-800-Marriott or the hotel's main number. Please be sure to make the reservation under the group name "SCRC 2014".

  %p The rate is $169/night. Hotel check in time is 3PM, and check out is 11am. We've blocked 50 rooms at Springhill for Friday 8/15 and Saturday 8/16. Please make your reservation no later than 7/1.

  %h3 Residence Inn Pittsburgh North Shore

  %p 574 W General Robinson St<br />Pittsburgh, PA 15212<br />412-321-2099

  %p Reservations can be <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=SCRC%20%202014%5EPITRN%60scrscra%60169.00%60USD%60false%608/14/14%608/17/14%607/15/14&app=resvlink&stop_mobi=yes">made online</a> or by calling 1-800-Marriott or the hotel's main number. Please be sure to make the reservation under the group name "SCRC 2014".

  %p The rate is $169/night. Hotel check in time is 4pm, and check out is 11am. We've blocked 30 rooms at Residence Inn for Friday 8/15 and Saturday 8/16. Please make your reservation no later than 7/15.

  %h2 Ground transportation

  %h3 Driving

  %p
    :markdown
      Driving into Pittsburgh is pretty easy, and routes into the North Shore are
      well-marked since it's where the stadiums are. See the
      [New Hazlett Theater site for directions](http://newhazletttheater.org/the-theater/directions/)
      and parking recommendations.

      Do pay attention to [511PA](http://www.511pa.com/) for travel and traffic
      advisories.

      There is a Steelers pre-season game Saturday, August 16, so event parking
      rates may be in effect for the area. Plan ahead!

  %h3 Ridesharing

  %p
    :markdown
      We strongly recommend employing [Lyft](https://www.lyft.com/)
      or [UberX](https://www.uber.com/) for your travel needs.

  %h3 Bus

  %p
    :markdown
      Pittsburgh Port Authority operates the [28X](http://www.portauthority.org/rt/28x.pdf)
      airport flyer bus. Its fare is $3.75 and the Liberty Ave at Market St stop
      downtown is a short half-mile walk from both hotels, via the Roberto Clemente bridge.
      It runs every half hour from 5 a.m. to 11:30 p.m.

  %h3 Taxis & Shuttles

  %p It is advisable to book these methods well in advance.

  %ul
    %li <a href="http://supershuttle.com">SuperShuttle</a> - (800) 258-3826
    %li <a href="http://www.vetaxi.com/">VETaxi</a> - (412) 481-8387 (all vehicles wheelchair accessible)
    %li Pittsburgh Classy Cab - (412) 322-5080
    %li Pittsburgh Yellow Cab - (412) 321-8100
